@tailwind base;
@tailwind components;
@tailwind utilities;

button.rec-dot {
  background-color: #ebd276;
}



.rec.rec-arrow {
  background-color: "transparent"
}

.rec.rec-arrow-left:hover:enabled:active,
.rec.rec-arrow-right:hover:enabled:active {
  background-color: #ebd276;
}
