@tailwind base;
@tailwind components;
@tailwind utilities;

button.rec-dot {
  background-color: #ebd276;
}



.rec.rec-arrow {
  background-color: "transparent"
}

.rec.rec-arrow-left:hover:enabled:active,
.rec.rec-arrow-right:hover:enabled:active {
  background-color: #ebd276;
}

.swiper-pagination-bullet-active {
  background-color: #ebd276 !important;
}

.swiper-pagination {
    transform: translate(0px, 15px) !important;

}